flows/de-capstone.02_ingest_to_gcs.yaml
id: 02_ingest_to_gcs
namespace: de-capstone
description: Batch load yearly CSV files from GitHub to GCS

tasks:
  - id: batch_ingest
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ kv('YEARS') }}"
    tasks:
      - id: download_csv
        type: io.kestra.plugin.core.http.Download
        uri: "https://raw.githubusercontent.com/lemieuxjm/datatalks-de-capstone/main/data/Medicare_Monthly_Enrollment_{{ taskrun.value }}.csv"

      - id: upload_to_gcs
        type: io.kestra.plugin.gcp.gcs.Upload
        from: "{{ outputs.download_csv[taskrun.value].uri }}"
        to: "gs://{{ kv('GCP_BUCKET_NAME') }}/Raw/Medicare_Monthly_Enrollment_{{ taskrun.value }}.csv"

      - id: wait
        type: io.kestra.plugin.core.flow.Sleep
        duration: PT30S

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{ secret('GCP_SERVICE_ACCOUNT') }}"
      projectId: "{{ kv('GCP_PROJECT_ID') }}"
      location: "{{ kv('GCP_LOCATION') }}"
      bucket: "{{ kv('GCP_BUCKET_NAME') }}"