flows/de-capstone.03_load_to_bq_raw.yaml
id: 03_load_to_bq_raw
namespace: de-capstone
description: Download a CSV file from GCS and load it into a BigQuery table.

tasks:
  - id: download_gcs_file
    type: io.kestra.plugin.gcp.gcs.Download
    from: "gs://capstone-bucket-lemieuxjm-2026/Raw/Medicare_Monthly_Enrollment_20251231.csv"
    
  - id: load_to_bigquery
    type: io.kestra.plugin.gcp.bigquery.Load
    from: "{{ outputs.download_gcs_file.uri }}"
    destinationTable: "{{kv('GCP_PROJECT_ID')}}.capstone_raw.medicare_monthly_enrollment_20251231"
    format: CSV
    csvOptions:
      skipLeadingRows: 1 # Assuming the CSV file has a header row
    createDisposition: CREATE_IF_NEEDED
    writeDisposition: WRITE_TRUNCATE # Overwrite the table if it exists

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{ secret('GCP_SERVICE_ACCOUNT') }}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"